<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>

    <nav th:replace="fragments::nav"></nav>

    <div class="container">

        <h1 th:text="${title}"></h1>
        <hr />

        <table th:if="${users} and ${users.size()}" class="users">
            <tr>
                <th>Username</th>
                <th>Number of Posts</th>
                <th>Date Joined</th>
            </tr>
            <tr th:each="user : ${users}">
                <td><a th:href="@{'/user/' + ${user.getUsername()}}" th:text="${user.getUsername()}"></a></td>
                <td th:text="${user.getPosts().size()}"></td>
                <td th:text="${user.getDateJoined()}"></td>
            </tr>
        </table>

        <p th:unless="${users} and ${users.size()}">No users yet!</p>

    </div>

</body>
</html>