.error {
    color:red;
    font-weight: bold;
}

body {
    padding-top: 70px;
}

.post a {
    color: #000000;
}

.users {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 100%;
}

.users th, .users td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e4e4e4;
}

.search-results {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 100%;
}

.search-results th, .search-results td {
    width: 33%;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.search-results th span {
    font-size: 10px;
}

.user-info th, .user-info td {
    padding: 15px;
    vertical-align: top;
}

.user-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
    padding: 5px;
    width: 50%;
    height: 100px;
    border: 1px solid #ccc;
}

.tag-list, .tag-pool {
    padding: 0px;
    list-style: none;
    display: inline-block;
}

.tag-list li, .tag-pool li {
    padding: 5px;
    margin: 0px 0px 0px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.all-posts {
    list-style: none;
    padding: 0;
}

.pages {
    text-align: center;
    list-style: none;
    padding: 0;
}

.pages li {
    display: inline-block;
    padding: 10px;
}

.flash-message {
    padding: 15px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.well button {
    margin: 0px 20px 0px 0px;
}

.well search-form {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

#search-form #searchTerm {
    float: left;
    margin: 0px 0px 5px 20px;
    width: 84%;
}

#search-form button {
    float: right;
}

#search-options {
    text-align: center;
    margin: 15px 0px 0px;
}

#search-options hr {
    margin: 15px 0px;
}

#search-options .radio {
    text-align: center;
}

#search-options .row {
    text-align: left;
    margin: auto auto auto 6%;
}