<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>

<nav th:replace="fragments::nav"></nav>

<div class="container">

    <h1 th:text="${title}"></h1>
    <hr />

    <div class="well">
        <form class="form-group" method="POST" id="search-form" action="/search/filter">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Search"
                           id="searchTerm" name="searchTerm" required="required" th:value="${searchTerm}" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

            <div id="search-options">
                <span th:if="${searchResults} and ${searchResults.size()}">
                    <span th:text="${searchResults.size()}"></span>
                    <span th:if="${searchResults.size() == 1}">result | </span>
                    <span th:unless="${searchResults.size() == 1}">results | </span>
                </span>

                <a href="#filters" data-toggle="collapse" class="options">
                    Advanced Options <span class="caret"></span></a>

                <div id="filters" class="collapse">
                    <h5>Filter by:</h5>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="filter" value="all" checked="checked" />All</label>
                        <label class="radio-inline"><input type="radio" name="filter" value="title" />Title</label>
                        <label class="radio-inline"><input type="radio" name="filter" value="body" />Body</label>
                        <label class="radio-inline"><input type="radio" name="filter" value="tag" />Tag</label>
                    </div>
                </div>
            </div>
        </form>
        </div>


    <table th:if="${searchResults} and ${searchResults.size()}" id="search-results">
        <tr>
            <th>Title
                <a href="#" onclick="sortBy('title','asc')"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#" onclick="sortBy('title','desc')"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
            <th>Author
                <a href="#" onclick="sortBy('author','asc')"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#" onclick="sortBy('author','desc')"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
            <th>Date Posted
                <a href="#" onclick="sortBy('date','asc')"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#" onclick="sortBy('date','desc')"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
        </tr>
        <tr th:each="result : ${searchResults}" class="result">
            <td><a th:href="@{'/post/' + ${result.getId()}}" th:text="${result.getTitle()}" class="post-title">title</a></td>
            <td><a th:href="@{'/user/' + ${result.getUser().getUsername()}}" th:text="${result.getUser().getUsername()}" class="post-user">user</a></td>
            <td class="post-date" th:text="${result.getDatePosted()}">date</td>
        </tr>
        <!--<tr th:each="result : ${searchResults}" class="result">-->
            <!--<td><a href="/" class="post-title">0000</a></td>-->
            <!--<td><a href="/" class="post-user">some userstest</a></td>-->
            <!--<td class="post-date" th:text="${result.getDatePosted()}"></td>-->
        <!--</tr>-->
        <!--<tr th:each="result : ${searchResults}" class="result">-->
            <!--<td><a href="/" class="post-title">Test2 title</a></td>-->
            <!--<td><a href="/" class="post-user">some user</a></td>-->
            <!--<td class="post-date" th:text="${result.getDatePosted()}">a date</td>-->
        <!--</tr>-->
        <!--<tr th:each="result : ${searchResults}" class="result">-->
            <!--<td><a href="/" class="post-title">3Test3 title</a></td>-->
            <!--<td><a href="/" class="post-user">some user</a></td>-->
            <!--<td class="post-date" th:text="${result.getDatePosted()}">c date</td>-->
        <!--</tr>-->
        <!--<tr th:each="result : ${searchResults}" class="result">-->
            <!--<td><a href="/" class="post-title">aTest2 title</a></td>-->
            <!--<td><a href="/" class="post-user">some user</a></td>-->
            <!--<td class="post-date" th:text="${result.getDatePosted()}">a date</td>-->
        <!--</tr>-->
    </table>

    <p th:unless="${searchResults} and ${searchResults.size()}">No results were found.</p>

</div>

</body>
</html>